<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertisseur de Texte en ASCII Art</title>
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <div class="container">
        <h1>Convertisseur de Texte en ASCII Art</h1>
        <form method="POST" action="/" id="convertForm">
            <textarea name="text" placeholder="Entrez votre texte ici..."></textarea>
            <div>
                <select name="banner">
                    <option value="standard">Standard</option>
                    <option value="shadow">Shadow</option>
                    <option value="thinkertoy">Thinkertoy</option>
                </select>
                <button type="submit">Convertir</button>
                <button type="submit" form="convertForm" formaction="/download">Télécharger</button>
            </div>
        </form>
        {{if .AsciiArt}}
        <h2>Résultat :</h2>
        <pre>{{.AsciiArt}}</pre>
        {{end}}
    </div>
</body>

</html>